@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --grid-70-30: 70% 28%;
  --tracking-3: 0.05em;
  --color-card-bg: #0D0D10;
}
